<li>
  <%= link_to image_tag(booksimage.mediumImageUrl, alt: booksimage.title + "画像", title: booksimage.salesDate.to_s + "\n" + booksimage.publisherName + "\n" + booksimage.author + "\n" + booksimage.title + "\n" + number_to_currency(booksimage.itemPrice, precision: 0, delimiter: ",") + "\n" + "レビュー数:" + booksimage.reviewCount.to_s), booksimage.itemUrl, target: "_blank"  %>
</li>
